.masthead{
	padding: 1em;
	background: #000531 url('../images/nebula2.jpg') no-repeat center center;
	background-size: cover;
	color: white;

}

.masthead-planets{
	
	background: #000531 url('../images/nebula2.jpg') no-repeat center center;
	background-size: cover;	

}